/* Clase para animar el crecimiento de elementos al pasar el ratón */
.actuar {
    transition: transform 0.3s ease; /* Suaviza la animación en 0.3 segundos */
    cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
}

/* Efecto de escalado al pasar el ratón */
.actuar:hover {
    transform: scale(1.05); /* Incrementa el tamaño un 5% */
    filter: brightness(1.1); /* Opcional: da un poco más de luz al elemento */
}

.actuar-hijos {
    /*Igual que la clase anterior, salvo que actua sobre los hijos del elemento*/
    transition: transform 0.3s ease;
    cursor: pointer;

    > :hover {
        transform: scale(1.05);
        filter: brightness(1.1);
    }
}

/* Cambia el color de los enlaces al pasar el raton sobre ellos*/
a:hover {
    color: rgb(255, 4, 255);
    font-weight: bold;
}